@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuentes personalizadas */
@font-face {
  font-family: 'Utile';
  src: url('/fonts/Utile-Regular-GFXTRA.COM-iF66f3bd3b42c35.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Utile';
  src: url('/fonts/Utile-Bold-GFXTRA.COM-iF66f3bd3acea1d.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Utile';
  src: url('/fonts/Utile-Light-GFXTRA.COM-iF66f3bd3b117ee.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Utile';
  src: url('/fonts/Utile-Medium-GFXTRA.COM-iF66f3bd3b2d9da.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}