@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuentes personalizadas */
@font-face {
  font-family: 'Utile';
  src: url('/fonts/Utile-Regular-woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Utile';
  src: url('/fonts/Utile-Bold-woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Utile';
  src: url('/fonts/Utile-Light-woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Utile';
  src: url('/fonts/Utile-Medium-woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.utile-bold {
  font-family: 'Utile', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 94%;
  letter-spacing: 0%;
}