---
interface Props {
  bgColor?: string;
}

const { bgColor = "bg-[#D9D9D9]" } = Astro.props;
---

<footer class={`${bgColor} pt-[2.5rem] pb-[0.5rem]`}>
  <div class="px-4">
    <div class="flex justify-center flex-col md:flex-row items-center mb-10">
      <div class="flex flex-col items-center mb-6 md:mb-0 w-[50%]">
        <img src="/logo.png" alt="Viaservin Logo" class="h-16" />
        <!--   <p class="text-gray-700 mt-3 max-w-md text-sm">
          Llevamos más de 40 años ofreciendo soluciones integrales de seguridad privada 
          con la mejor tecnología y personal capacitado.
        </p> -->
        <div class="flex gap-4 mt-4">
          <a
            href="#"
            class="hover:transform hover:scale-110 transition-transform"
          >
            <img
              src="/Facebook logo.svg"
              alt="Facebook"
              class="w-8 h-8 rounded-full border transition-colors hover:bg-[#EE9D26]"
            />
          </a>
          <a
            href="#"
            class="hover:transform hover:scale-110 transition-transform"
          >
            <img
              src="/Instagram logo.svg"
              alt="Instagram"
              class="w-8 h-8 rounded-full border transition-colors hover:bg-[#EE9D26]"
            />
          </a>
          <a
            href="#"
            class="hover:transform hover:scale-110 transition-transform"
          >
            <img
              src="/LinkedIn logo.svg"
              alt="LinkedIn"
              class="w-8 h-8 rounded-full border hover:bg-[#EE9D26]"
            />
          </a>
          <a
            href="#"
            class="hover:transform hover:scale-110 transition-transform"
          >
            <img
              src="/Youtube logo.svg"
              alt="Youtube"
              class="w-8 h-8 rounded-full border hover:bg-[#EE9D26]"
            />
          </a>
          <a
            href="#"
            class="hover:transform hover:scale-110 transition-transform"
          >
            <img
              src="/Twitter logo.svg"
              alt="Twitter"
              class="w-8 h-8 rounded-full border hover:bg-[#EE9D26]"
            />
          </a>
        </div>
      </div>

      <div class="flex gap-16 justify-center w-[50%]">
        <ul class="list-none p-0 m-0 text-gray-600 text-lg whitespace-nowrap">
          <li class="mb-2">
            <span class="text-gray-600 hover:text-[#001B51]">Nosotros</span>
          </li>
          <li class="mb-2">
            <span class="text-gray-600 hover:text-[#001B51]">Historia y Trayectoria</span>
          </li>
          <li class="mb-2">
            <a
              href="/nosotros"
              class="text-gray-600 hover:text-[#001B51]"
              >Misión y Visión</a
            >
          </li>
          <li class="mb-2">
            <span class="text-gray-600 hover:text-[#001B51]">Nuestro Equipo</span>
          </li>
          <li class="mb-2">
            <a
              href="/politicas"
              class="text-gray-600 hover:text-[#001B51]">Políticas</a
            >
          </li>

          <!-- <li class="mb-2">
            <a
              href="/servicios"
              class="text-gray-600 underline hover:text-[#001B51]">Servicios</a
            >
          </li>
          <li class="mb-2">
            <a
              href="/contacto"
              class="text-gray-600 underline hover:text-[#001B51]">Contacto</a
            >
          </li> -->
        </ul>

        <ul class="list-none p-0 m-0 text-gray-600 text-lg whitespace-nowrap">
          <li class="mb-2">
            <span class="text-gray-600 hover:text-[#001B51]">Servicios</span>
          </li>

          <li class="mb-2">
            <a
              href="/servicios/escoltas"
              class="text-gray-600 hover:text-[#001B51]"
              >Escolta de Personas</a
            >
          </li>
          <li class="mb-2">
            <span class="text-gray-600 hover:text-[#001B51]">Clientes</span>
          </li>
          <li class="mb-2">
            <span class="text-gray-600 hover:text-[#001B51]">Contactanos</span>
          </li>

          <!-- <li class="mb-2">
            <a
              href="/servicios/vigilancia"
              class="text-gray-600 underline hover:text-[#001B51]"
              >Vigilancia Física</a
            >
          </li>
          <li class="mb-2">
            <a
              href="/servicios/escoltas"
              class="text-gray-600 underline hover:text-[#001B51]"
              >Escolta de Personas</a
            >
          </li>
          <li class="mb-2">
            <a
              href="/servicios/alarmas"
              class="text-gray-600 underline hover:text-[#001B51]"
              >Monitoreo de Alarmas</a
            >
          </li> -->
        </ul>

        <ul class="list-none p-0 m-0 text-gray-600 text-lg">
          <li class="mb-3">
            <strong class="text-[#001B51] text-xl">Contacto</strong>
          </li>
          <li class="mb-2">informacion@viaservin.com</li>
          <li class="mb-2">(+57) 310 223 2918</li>
          <li class="mb-2">Barranquilla, Colombia</li>
        </ul>
      </div>
    </div>

    <div class="text-center text-gray-600 text-base mt-8 mb-4">
      Políticas de privacidad | Cookies | Vigilado por Supervigilancia
      Resolución 20204100072087 del 27 de 10 del 2020
    </div>
  </div>
</footer>
