---
import '../styles/global.css';
import WhatsAppButton from '../components/WhatsAppButton.astro';
---

<!doctype html>
<html lang="en" class="w-full h-full m-0">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/Isotipo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Viaservin - Seguridad Privada</title>
		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-7HTKKRQBX0"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-7HTKKRQBX0');
		</script>
	</head>
	<body class="w-full h-full m-0">
		<slot />
		<WhatsAppButton />
	</body>
</html>

