---
import '../styles/global.css';
import WhatsAppButton from '../components/WhatsAppButton.astro';
---

<!doctype html>
<html lang="en" class="w-full h-full m-0">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Viaservin - Seguridad Privada</title>
	</head>
	<body class="w-full h-full m-0">
		<slot />
		<WhatsAppButton />
	</body>
</html>

